

.stickyWrapper{
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 89px;
    font-family: "Play", sans-serif;
    .topHeaderArea{
        position: fixed;
        top: 0px;
        z-index: 999;
        width: 100%;
        transition: 0.3s;
        padding: 25px 0;
        .mainMenuWrap{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .site-logo {
                padding: 6px 0;
                float: left;
                img{
                    height: 45px;
                    max-width: 100%;
                }
            }
            .mainMenu{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                ul>li{
                    position: relative;
                }
                ul li.current-list-item > a {
                    color: goldenrod;
                }
                ul li{
                    display: inline-block;
                    a{
                        font-weight: 700;
                        display: block;
                        padding: 15px;
                        color: #fff;
                        transition: 0.3s;
                    }
                    :hover{
                        color: goldenrod;
                    }
                }
            }
            .headerIcons{
                display: flex;
                align-items: center;
                a{
                    font-weight: 700;
                    display: block;
                    padding: 15px;
                    color: #fff;
                    transition: 0.3s;
                    &:hover{
                        color: goldenrod;
                    }
                }
                .cartBadge{
                    margin-left: -1px;
                    border-radius: 50px;
                    font-family: 'Play', sans-serif;
                    background-color: goldenrod;
                    border: none;
                    color: #fff;
                    -webkit-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                }
            }
        }
    }
  
}

.meanmenu-reveal {
    display: none;
    background-color: goldenrod;
    color: #008080; 
}
.meanmenu-reveal {
    font-family: Arial,Helvetica,sans-serif;
    flex-shrink: 0;
    width: 36px;
    height: 38px;
    cursor: pointer;
    padding: 8px 8px 6px !important;
    font-size: 16px;
    line-height: 22px;
    font-size: 1px;
    font-weight: 700;
    span {
        display: block;
        height: 3px;
        width: 22px;
        background-color: #008080;
        margin-top: 3px;
        background-color: #008080;
    }
}
.mean-bar {
    background-color: transparent;
    position: absolute;
    top: 60px;
    left: 50%; /* Đưa phần tử ra giữa màn hình theo chiều ngang */
    transform: translateX(-50%); /* Dịch sang trái 50% chiều rộng của chính nó */
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    width: 92%;
    height: 0; /* Ẩn menu ban đầu */

  &.show {
    height: 500PX; /* Mở menu với height 100% */
  }

  &.hide {
    height: 0; /* Ẩn menu */
  }
}

.mean-nav {
    float: left;
    width: 100%;
    background: rgb(0, 76, 73);
    ul{
        padding: 0 !important;
        margin: 0;
        width: 100%;
        list-style-type: none !important;
    }
    ul li {
        position: relative;
        float: left;
        width: 100%;
        padding: 0;
        a {
            display: block;
            float: left;
            width: 100%;
            padding: 0.5em 5%;
            margin: 0;
            text-align: left;
            color: #fff;
            border-top: 1px solid goldenrod;
            border-top: 1px solid rgba(255, 255, 255, .5);
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
nav.mean-nav > ul > li:first-child > a {
    border-top: none;
}
@media only screen  and (max-width: 991px) {
    .stickyWrapper{
        .topHeaderArea{
           position: absolute !important;
            background-color: transparent;
            padding: 25px 0;
        }
    }
     
    .mainMenu{
        display: none;
    }
    .meanmenu-reveal {
        display: block;
    }
}

