.section-title{
    display: flex;
    justify-content: center;
    position: relative;
    h3 {
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
}
}

.section-title h3:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: goldenrod;
    margin: 0 auto;
}
.section-title h3:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: goldenrod;
    margin: 0 auto;
}



