.back-to-top {
    position: fixed;
    z-index: 9;
    bottom: 16px;
    right: 16px;
    padding: 13px 14px 12px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
    background-color: rgb(255, 255, 255);
    transition: 0.7s ease-in-out;
    opacity: 1;
    transform: scale(1);
}
