@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #fefefe;
  --color-foreground: #0f0f0f;
  --color-card: #ffffff;
  --color-card-foreground: #0f0f0f;
  --color-popover: #ffffff;
  --color-popover-foreground: #0f0f0f;
  --color-primary: #004c49;
  --color-primary-foreground: #ffffff;
  --color-secondary: #fdf2f8;
  --color-secondary-foreground: #831843;
  --color-muted: #f9fafb;
  --color-muted-foreground: #6b7280;
  --color-accent: #fde68a;
  --color-accent-foreground: #831843;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #004c49;
  --radius: 0.5rem;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
   .container {
    @apply w-full px-[15px] mx-auto;
    max-width: 100%;
  }

  @screen sm {
    .container {
      max-width: 540px;
    }
  }
  @screen md {
    .container {
      max-width: 720px;
    }
  }
  @screen lg {
    .container {
      max-width: 960px;
    }
  }
  @screen xl {
    .container {
      max-width: 1140px;
    }
  }
  @screen 2xl {
    .container {
      max-width: 1140px;
    }
  }
}
.container{
  max-width: 1140px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #004c49;
  overflow-x: hidden;
}
body img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: goldenrod;
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Play", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #004c49;
}

h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child,
h6:last-child, .h6:last-child {
  margin: 0;
}

h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

@media only screen and (max-width: 767.96px) {
  h1, .h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h1, .h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
}

@media only screen and (max-width: 767.96px) {
  h2, .h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h2, .h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
}

@media only screen and (max-width: 575.96px) {
  h3, .h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

@media only screen and (max-width: 575.96px) {
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h6, .h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
p {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #004c49;
  margin: 0 0 1.25rem 0;
}

p:last-child {
  margin: 0;
}

/* Button */

.main-btn {
  font-family: 'Play', sans-serif;
  display: inline-block;
  background-color: goldenrod;
  border: none;
  color: #fff;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.main-btn:hover {
  background-color: #004c49;
  color: goldenrod;
}

.boxed-btn {
  font-family: 'Play', sans-serif;
  display: inline-block;
  background-color: goldenrod;
  border: 2px solid goldenrod;
  color: #fff;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  white-space: nowrap;
}
.boxed-btn:hover {
  background-color: #004c49;
  border: 2px solid goldenrod;
  color: goldenrod;
}

.bordered-btn {
  font-family: 'Play', sans-serif;
  display: inline-block;
  color: #fff;
  background-color: #004c49;
  border: 2px solid goldenrod;
  padding: 7px 20px;
  cursor: pointer;
  white-space: nowrap;
}
.bordered-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bordered-btn:hover {
  background-color: goldenrod;
  color: #fff;
}

.read-more-btn {
  display: inline-block;
  border: 2px solid goldenrod;
  padding: 7px 20px;
  color: #fff;
  background-color: goldenrod;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
}

.read-more-btn:hover {
  border: 2px solid goldenrod;
  padding: 7px 20px;
  color: goldenrod;
  background-color: #004c49;
}

.boxed-btn, .bordered-btn, .cart-btn, .main-btn {
  border-radius: 50px;
}


.gold-text {
  color: goldenrod;
}

.blue-bg {
  background-color: #004c49;
}

.gold-bg {
  background-color: goldenrod;
}

.blue-text {
  color: #004c49;
}

.text-light {
    color: #f8f9fa !important;
}

ol, ul {
  color: #004c49 !important;
  list-style: auto !important;
  padding: revert !important;
}


/* alert */
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}