html {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #004c49;
  overflow-x: hidden;
}
body img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


a:hover {
  color: goldenrod;
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Play", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #008080;
}

h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
h5:last-child, .h5:last-child,
h6:last-child, .h6:last-child {
  margin: 0;
}

h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

.body::-webkit-scrollbar {
    width: 10px;
}

.body::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
    margin: 20px;
}

.body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 20px;
}
* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}
a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}
.pos-absolute {
    position: absolute;
}
