.contact-form form p input[type=text], .contact-form form p input[type=tel], .contact-form form p input[type=password] {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
}

.search-bar-tablecell button[type=submit] {
    border: none;
    color: #004c49;
    background-color: goldenrod;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    font-weight: 700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover {
        background-color: #fff;
        color: #004c49;
    }
}